.d-flex {
    display: flex;
}

.center {
    justify-content: center;
}

.it-center{
    align-items: center;
}

.mg-t {
    margin-top: 10px;
}

.d-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}