.login-container {
    background-color: darkcyan;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65vh;
    width: 60vw;
    border-radius: 1%;
    box-shadow: 2px 2px 2px #888888;
    display: flex;
}

.login-container-left {
    width: 40%;
    height: 100%;    
}

.login-container-right {
    width: 60%;
    height: 100%;    
}

.login-container-right h1 {
    text-align: center;
}

.login-form {
    text-align: center;
}

.login-form label {
    font-weight: 500;
}

.login-form input{
    outline: none;
    border: none;
}

.login-form button {
    width: 50%;
    height: 7vh;
    margin-top: 1.5vw;
    font-size: 1.5vw;
    font-family: 'Lora', serif;
    font-weight: 1000;
}

.login-input {
    width: 90%;
    height: 7vh;
    margin-top: 1.5vw;   
    font-size: 1.5vw;
    font-family: 'Lora', serif; 
    background: #e6e6e6;
    color: #666666;
    padding-left: 3%;
    border-radius: 10px;
    /* display: block;
    
     */
}

.login-button {
    text-align: center;
}