* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: black;     */
}

.todo-container {  
    position: relative;
    width: 100%;
    height: 100%;
}

.time-pick {
    display: flex;
    width: 100%;
    background: #74b9ff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.time-pick h1 {
    padding: 5px 15px;
}

.time-pick input[type=date] {
    /* height: 7vh; */
    /* width: 50%; */
    margin-top: 2px;
    margin-left: 10px;
    font-size: 4vh;
    font-weight: 500;
    background: none;
    border: none;
    outline: none;
}

.total-task {
   width: 50%;
}

.total-task label {
    padding-top: 10px;
    font-size: 4vh;
    float: right;
}

.todo-container ul {
    position: relative;
    padding: 20px;
}

.label-add-todo {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1vh;
}

.todo-container ul li {
    position: relative;
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.todo-container ul li:last-child {
    border-bottom: none;
}

.todo-container ul li label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.todo-container ul .todo-add li label input {
    background: none;
    border: none;
    outline: none;
}

.todo-container ul .todo-task li label input {
    visibility: hidden;
    appearance: none;
}

/* New Task */

.todo-container ul .todo-add li label input:focus ~ p {
    visibility: hidden;
    appearance: none;
    /* text-decoration: line-through;
    color: #ccc; */
}

/* .todo-container ul .todo-task li label input:checked ~ span {
    background: #03a9f4;
} */

/* Task */
.todo-container ul .todo-task li label input:checked ~ p {
    text-decoration: line-through;
    color: #ccc;
}

.todo-container ul .todo-task li label input:checked ~ span {
    background: #03a9f4;
}

.todo-container ul li label p {
    position: absolute;
}

.todo-container ul li label span {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.todo-container ul li label span::before {
    content: '';
    position: absolute;
    top: 5px;
    width: 10px;
    height: 5px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transform: rotate(-40deg);
}